<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="128x128">
  <title>{% block title %}{% endblock %}OOCAM ML Interface</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" />
  {% block header %}{% endblock %}
</head>

<body>
  <section
    style="font-family: 'Didact Gothic', sans-serif; display: grid; justify-content: center;">
    <h1 style="text-align:center;color:#4EB1BA;font-size:40px; font-weight:bold"><a style="color: inherit; text-decoration: none;" href="/"> Open Ocean Camera Interface </a></h1>
    <h4 style="text-align:center;color:#4EB1BA;"> Powered by Open Ocean Engineering Ltd. </h4>
  </section>
  <br>  
  {% block content %}{% endblock %}
</body>

</html>